<nav >
    <img src="../assets/images/logoGeminis.png" alt="Logotipo de Géminis" class="logo">
    <ul class="nav-menu">

        <li ><a class="inicio" href="home.html">Home</a></li>
        <li><a href="about.html">Sobre Nosotros</a></li>
        <!-- <a href="terms.html">Términos y Condiciones</a> -->
        <li class="dropdown">
            <a href="#" id="userName">
                Usuario
            </a>
            <ul class="dropdown-content">
                <li>
                    <a href="profile.html">Perfil</a>
                </li>
                <li>
                    <a href="#" id="CerrarSes">Cerrar Sesión</a>
                </li>
            </ul>
        </li>


    </ul>

</nav>