<head>
    <link rel="icon" href="../assets/images/logoGeminis.ico">
</head>
<nav>
    <a href="home.html">
        <img src="../assets/images/logoGeminis.png" alt="Logotipo de Géminis" class="logo">
    </a>
    <ul class="nav-menu">
        <li ><a class="inicio" href="home.html">Inicio</a></li>
        <li><a class="domicilios" href="domicilios.html" id="domicilios-link">Consultar Domicilios</a></li>
        <li><a href="about.html">Sobre Nosotros</a></li>
        <li><a class="login" href="login.html">Iniciar Sesion</a></li>
        <!-- <a href="terms.html">Términos y Condiciones</a> -->
        <li class="dropdown">
            <a href="#" class="user-name" id="userName">
                Usuario
            </a>
            <ul class="dropdown-content">
                <li>
                    <a href="profile.html">Perfil</a>
                </li>
                <li id="miRestaurante">
                    <a href="editarRestaurante.html">Mi restaurante</a>
                </li>
                <li id="misSedes">
                    <a href="sedes.html">Sedes</a>
                </li>
                <li>
                    <a href="#" id="CerrarSes">Cerrar Sesión</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>