.about main {
    line-height: 1.6;
    padding: 20px;
    background-color: #333;
}

.about-intro {
    text-align: center;
    padding: 2em 2em 3em;
    background: linear-gradient(180deg, #120204 70%, #e22c42);
    color: white;
    border-radius: 0 0 1em 1em;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

.about .about-intro h1 {
    color: white;
}

.about-mission-vision {
    display: flex;

    padding: 3em 0 5em;
}

.about-values {
    display: flex;
    align-items: center;
    margin: 4em 0;
    min-height: 600px;
    background-image: url(../images/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-values .propositions-bg {
    background: #fdedef;
    border-radius: 1em;
    box-shadow: 6px -6px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-values .propositions-bg p {
    text-align: justify;
}

.about-mission-vision {
    overflow: hidden;
    max-height: 215px;
}

.about-mission-vision .vision-toggler,
.about-mission-vision .mision-toggler {
    background-color: #333;
    color: white;
    padding: 4em 0;
    border-radius: 0 1em 1em 0;
    cursor: pointer;
    text-align: center;
    z-index: 24;
}

.about-mission-vision .vision-toggler {
    border-radius: 1em 0 0 1em;
}

.about-mission-vision .vision-toggler h2,
.about-mission-vision .mision-toggler h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);

}

.about-mission-vision .vision,
.about-mission-vision .mision {
    padding: 2em 4em;
    text-align: center;
    background-color: #120204;
    color: white;
    position: relative;
    z-index: 1;
}

.about-mission-vision .mision {
    border-radius: 0 1em 1em 0;
    left: -1em;
}

.about-mission-vision .vision {
    border-radius: 1em 0 0 1em;
    left: 1em;
}

.mision,
.vision {
    transition: opacity 1.2s ease, width 1s ease;
    width: 110%;
    opacity: 1;
}

.hidden {
    width: 0 !important;
    opacity: 0;
    overflow: hidden;

}


/* About Developers Section */
.about-developers {
    display: none;
    padding: 6em;
    margin: 4em 3em 3em;
    background-color: var(--primary-darker);
    color: var(--text-color);
    text-align: center;
    border-radius: 1em;
    animation: slideout 0.8s ease-out, fadeIn 1.2s ease-in-out;
}

.about-developers h2 {

    margin-bottom: 1em;
}

.developer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.developer {
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 200px;
}

.developer:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

}

.developer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.developer h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.developer p {
    font-size: 1em;
    margin-bottom: 1em;
}

.developer a {
    color: var(--text-color);
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s;
}

.developer a:hover {
    color: var(--primary-color);
}

/* Media Queries */
@media (min-width: 300px) and (max-width: 767px) {
    .about-values {
        flex-wrap: wrap;

    }

    .image-values img {
        max-width: 100%;
    }

    .about-values .propositions-bg {
        position: relative;
        text-align: center;
        margin-top: 2em;
        padding: 1.5em;
        min-width: 105%;
        left: -1.8em;
    }

    .about-values .propositions-bg p {
        text-align: left;
    }

    .about-mission-vision {
        flex-wrap: wrap;
        align-items: center;
        max-height: 100%;
        padding: 2em 0;
        justify-content: space-between;
    }

    .about-mission-vision .mision-toggler,
    .about-mission-vision .vision-toggler {
        max-height: 75vh;
        text-align: center;
        min-height: 100%;
        padding: 0;
    }

    .about-mission-vision .mision-toggler h2,
    .about-mission-vision .vision-toggler h2 {
        min-height: 100%;

    }

    .about-mission-vision .mision,
    .about-mission-vision .vision {
        width: 60%;
        max-width: 60%;
        height: 66vh;
        padding: 2em 2em 1em;

    }

    .about-mission-vision .mision {
        left: -12.5vw;
    }

    .about-mission-vision .vision {
        left: 12.5vw;
    }

    .about-mission-vision .mision h2,
    .about-mission-vision .vision h2 {
        margin-top: calc(.25em + 2vh);
    }

    .about-mission-vision .vision-toggler,
    .about-mission-vision .vision {
        margin-top: 1em;
    }
    .about-developers{
        margin: 2em .5em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .about-mission-vision {
        flex-wrap: nowrap;
        align-items: center;
        /* height: fit-content; */
        max-height: 100%;
        padding: 2em 0;
        justify-content: inherit;
    }

    .about-mission-vision .mision-toggler,
    .about-mission-vision .vision-toggler {
        max-height: 45vh;
        text-align: center;
        min-height: 100%;
        padding: 0;
    }

    .about-mission-vision .mision-toggler h2,
    .about-mission-vision .vision-toggler h2 {
        min-height: 100%;

    }

    .mision,
    .vision {
        width: 110%;
        height: 100%;
    }

    .about-mission-vision .mision {
        left: -1em;
    }

    .about-mission-vision .vision {
        left: 1em;
    }

    .about-mission-vision .mision h2,
    .about-mission-vision .vision h2 {
        margin-top: calc(.25em + 2vh);
    }

    .about-mission-vision .vision-toggler,
    .about-mission-vision .vision {
        margin-top: 1em;
    }
}

@media (min-width: 992px) {
    .about-values .propositions-bg {
        min-width: 42%;
        max-width: 42%;
        padding: 2em 3em 3em;
    }
}
