
/* Estilo para las columnas */
.container-principal {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    padding: 5em 0;
}
/* Estilo general para el contenedor del formulario */
.domicilio-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-basis: 70%;

}

.create-domicilio-form {
    background-color: var(--background-color-dark);
    padding: 2em;
    border-radius: 0.8em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para los títulos */
.domicilio-details h1 {
    text-align: center;
    margin-bottom: 1.5em;
}
/* Estilos de los menús */
.menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.menu-card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 3em 0;
    border: 1px solid #ddd;
    border-radius: 1em;
    background-color: var(--primary-dark);
    box-sizing: border-box;
    justify-content: space-between;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.menu-img {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 1em;
}

.cantidad-input {
    width: 50px;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 1em;
    }

/* Información adicional del domicilio */
.domicilio-additional-info {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: var(--text-color-secondary);
}
.Info-details h1{
    margin-top: 0;
    color: var(--text-color);
}

/* Estilo para los detalles */
.domicilio-info h2 {
    font-size: 1.2em;
    color: var(--primary-color);
}

.domicilio-info p {
    font-size: 1em;
    color: white;
}

.domicilio-additional-info select {
    padding: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 100%;
    
}

/* Estilos para la columna de detalles del domicilio */
.col-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    padding: 2em;
    background-color: var(--background-color-dark);
    border-radius: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

}

/* Mejora en la responsividad */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
        align-items: center;
    }

    .col-7, .col-4 {
        width: 100%;
        max-width: 100%;
    }

    .create-domicilio-form {
        padding: 1.5em;
    }

    .menu-card {
        width: 100%; /* Una columna en pantallas pequeñas */
    }

    .menu-list {
        grid-template-columns: repeat(1, 1fr); /* Una columna en pantallas pequeñas */
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
}

.terms-text {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}