/* Estilo general para el contenedor del formulario */
.domicilio-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.create-domicilio-form {
    background-color: #fff;
    padding: 2em;
    border-radius: 0.8em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-bottom: 3em;
}

/* Estilo para los títulos */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-bottom: 1.5em;
}

/* Estilo para las columnas */
.container-principal {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

/* Estilos de los menús */
.menu-card {
    display: flex; /* Activar Flexbox */
    justify-content: space-between; /* Alinear contenido a los extremos */
    align-items: flex-start; /* Alinear elementos en la parte superior */
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    margin-bottom: 1em;
    background-color: #f9f9f9;
}

.menu-content {
    flex: 1; /* Hacer que el contenido principal ocupe el espacio restante */
    gap: 0.5em; /* Espacio entre elementos */
}

.cantidad-input {
    width: 50px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    text-align: center;
    margin-left: 1em; /* Separación entre el contenido y el input */
}

/* Información adicional del domicilio */
.domicilio-additional-info {
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo para los botones */
.primary-btn {
    background-color: #007bff;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #0056b3;
}

/* Estilo para los detalles */
.domicilio-info h2 {
    font-size: 1.2em;
    color: #333;
}

.domicilio-info p {
    font-size: 1em;
    color: #555;
}

.domicilio-additional-info select {
    padding: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 100%;
}

/* Estilos para la columna de detalles del domicilio */
.col-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    padding: 2em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Mejora en la responsividad */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
        align-items: center;
    }

    .col-7, .col-4 {
        width: 100%;
        max-width: 100%;
    }

    .create-domicilio-form {
        padding: 1.5em;
    }
}