/* Estilo para los botones */
.action-btn {
    margin-top: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.action-btn:hover {
    background: #0056b3;
}

/* Colores de fondo según el estado */
.estado-pendiente {
    background-color: #f1b0b3; /* Rojo claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
}

.estado-entregando {
    background-color: #ffe5a0; /* Amarillo claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.3); /* Sombra amarilla */
}

.estado-entregado {
    background-color: #b8e5b7; /* Verde claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); /* Sombra verde */
}

.domicilios-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Máximo 6 tarjetas por fila */
    gap: 1.5em; /* Espacio entre las tarjetas */
    margin: 4em 0;
    max-width: 100%; /* Ancho máximo del contenedor */
}

.domicilio-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25em;
    max-width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.domicilio-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

/* Agrega un relleno inferior al contenedor principal */
.domicilios-container {
    min-height: 80vh;
}