/* Reset y configuración global */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    background-color: #fdedef;
    color: black;
}

/* Asegura que el contenedor ocupe toda la pantalla */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espaciado opcional */
    box-sizing: border-box;
}

/* Estilo del nav */
nav {
    background-color: #120204;
    padding: 1em 12%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #250408;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    color: #e22c42;
}

nav .logo {
    width: 100.5px;
    height: 82.5px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
}

.dropdown {
    min-width: 11vw;
    padding: 0 2em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #120204;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-size: 1em;
}

/* Dropdown content */
.dropdown-content li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin: 0;
    overflow: hidden; /* Asegura que el efecto no se desborde */
    transition: background-size 0.3s ease, color 0.3s ease; /* Animación para el tamaño de fondo y color */
    background-size: 0% 100%; /* Inicialmente el fondo está vacío */
    background-image: linear-gradient(90deg, #333, #e22c42, #333); /* Color de fondo del centro */
    background-repeat: no-repeat;
    background-position: center;
}

/* Efecto hover en los enlaces del dropdown */
.dropdown-content li a:hover {
    background-size: 100% 100%; /* El fondo se expande a todo el tamaño del enlace */
}

/* Mostrar el dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo de botones */
button,
.secondary-btn {
    background: linear-gradient(90deg, #120204, #e22c42, #120204);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, box-shadow 0.3s;
    margin: 1em 0;
    min-width: 150px;
    max-width: 200px;
}

button:hover,
.secondary-btn:hover {
    background: linear-gradient(90deg, #e22c42, #120204, #e22c42);
    box-shadow: 0 0 1.25em #fdedef;
    transform: translateY(-5px);
}

/* Estilo para la lista de domicilios */
.domicilios-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo para cada card */
.domicilio-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    border: 1px solid #ddd;
}

/* Efecto hover para los cards */
.domicilio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para los botones */
.action-btn {
    margin-top: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.action-btn:hover {
    background: #0056b3;
}

/* Colores de fondo según el estado */
.estado-pendiente {
    background-color: #f1b0b3; /* Rojo claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
}

.estado-entregando {
    background-color: #ffe5a0; /* Amarillo claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.3); /* Sombra amarilla */
}

.estado-entregado {
    background-color: #b8e5b7; /* Verde claro, un poco más oscuro */
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); /* Sombra verde */
}


/* Agrega un relleno inferior al contenedor principal */
.domicilios-container {
    padding-bottom: 50px;
}
