.editarRestaurante-container {
    max-width: 600px;
    margin: 4em auto;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.editarRestaurante-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.editarRestaurante-container .img-container {
    background-color: white;
    border-radius: 50%;
    padding: 1em 0;
    width: 35%;
    margin: 0 auto;
}

.restaurant-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
}

.editarRestaurante-container .form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1.5em;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25em;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input[type="file" i]::-webkit-file-upload-button {
    background-color: #fdedef;
    color: black;
    padding: 10px;
    border: solid 2px white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1em;
}

.input-group input[type="file" i]::-webkit-file-upload-button:hover {
    background-color: #e22c42;
    background-image: linear-gradient(90deg, rgb(103, 19, 29), #e22c42, #67131d);
    color: white;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e44c42;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

/* Sedes */
#showCreateBranchFormBtn,
#showEditBranchFormBtn {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#showCreateBranchFormBtn:hover,
#showEditBranchFormBtn:hover {
    background-color: #333;
}

h2 {
    margin: 2em 0 2.5em;
}

.input-group label.horario ,
.input-group label.horario1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}
.input-group input#horario,
.input-group input#horario1{
    display: none;
}
.form-horario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    align-content: center;
}

.form-horario label {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 60%;
    align-items: center;
    font-size: 1rem;
    padding: .5em 0;
}

.form-horario label input[type="time" i] {
    padding: .25em .5em;
    border-radius: .5em;
    border-color: #e22c42;
    
}

.form-horario label input[type="time" i]:disabled {
    border-color: lightgrey;
}

.day {
    display: none;
    /* Hide the original checkbox */
}

.day-label {
    background-color: transparent;
    font-size: 11px;
    font-weight: 600;
    color: #120204;
    cursor: pointer;
    border: 2px solid #67131d;
    border-radius: 1em;
    min-width: 90px;
    width: 100%;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

/* Apply styles for the selected state */
.day:checked +.day-label {
    background-color: #e22c42;
    background-image: linear-gradient(147deg, #e22c42 0%, #67131d 74%);
    border: none;
    color:white;
}