
.editarRestaurante-container {
    max-width: 600px;
    margin: 4em auto;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.editarRestaurante-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.editarRestaurante-container .img-container {
    background-color: white;
    border-radius: 50%;
    padding: 1em 0;
    width: 35%;
    margin: 0 auto;
}

.restaurant-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
}

.editarRestaurante-container .form-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1.5em;
}
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25em;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input[type="file" i]::-webkit-file-upload-button {
    background-color: #fdedef;
    color: black;
    padding: 10px;
    border: solid 2px white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1em;
}

.input-group input[type="file" i]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}
/* 
.input-group textarea {
    resize: vertical;
} */

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}
/* Sedes */
#showCreateBranchFormBtn,
#showEditBranchFormBtn {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#showCreateBranchFormBtn:hover,
#showEditBranchFormBtn:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.input-group.horario label{
    cursor: pointer;
}