.home-intro {
    text-align: center;
    padding: 2em 2em 3em;
    background: linear-gradient(180deg, var(--secondary-color) 70%, var(--primary-color));
    color: white;
    border-radius: 0 0 1em 1em;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

#restaurants-section h1 {
    text-align: center;
    padding-top: 1em;
}

.owl-carousel,
.owl-carousel.owl-loaded {
    display: flex !important;
    justify-content: center;
    animation: fadeIn 1.0s ease-in-out;
}

.owl-carousel .owl-item.active {
    display: flex;
}

.carousel-container {
    max-height: 30em;
    display: flex;
    margin: 4em 0;
    height: fit-content;
}

.carousel-container .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 469px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    background: transparent;
}

.carousel-container.owl-carousel .owl-nav button.owl-prev,
.carousel-container.owl-carousel .owl-nav button.owl-next {
    background: linear-gradient(90deg, var(--secondary-color), #333, var(--secondary-color)) 0 0;
    min-width: 45px;
    width: 45px;
    height: 100%;
    color: white !important;
    box-shadow: 0 0 15px rgba(18, 2, 4, 0.6);
    transition: 0.6s;
}

.carousel-container.owl-carousel .owl-nav button.owl-prev:hover,
.carousel-container.owl-carousel .owl-nav button.owl-next:hover {
    background: rgb(18, 2, 4);
    background: linear-gradient(270deg, rgba(18, 2, 4, 0.8) 0%, var(--primary-color) 60%);
    color: rgb(4, 4, 38);
    transform: none;
}

.carousel-item {
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0 10px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--primary-dark);
    text-align: center;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 469px;
    max-height: 469px;
}

.carousel-item .restaurant-img {
    min-height: 175px;
    max-height: 175px;
    object-fit: cover;
}

.carousel-item .restaurant-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--background-color);
    padding: 0.75em;
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item .restaurant-logo img {
    aspect-ratio: 1/1;
    max-width: 100%;
    height: auto;
}

.carousel-item .restaurant-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 270px;
    align-items: center;
    position: relative;
    color: var(--text-color);
    padding: 1em 1.25em;
    justify-content: space-between;
}

.carousel-item .restaurant-info p {
    margin: 0.75em;
}

.pricing-plan-btn-container {
    display: table;
    width: 100%;
    text-align: center;
}

.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-weight: 600;
    color: var(--text-color);
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    height: 24px;
    background: linear-gradient(var(--primary-dark), var(--primary-color), var(--primary-dark));
    border-radius: 26px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2.5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #fff;
    font-weight: 600;
    align-items: center;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background-color: var(--secondary-color);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
}

.pricing-plans-section {
    background-color: var(--primary-darker);
    color: white;
    border-radius: 1em;
}

.pricing-plans-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/planes-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.pricing-container {
    text-align: center;
    padding: 3em 0 4em;
}

.pricing-card-container-personal,
.pricing-card-container-empresa {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 2em;
    width: 100%;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 29%;
    background: var(--background-color);
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 .25em .5em rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: scale(1.02);
}

.pricing-container h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 700;
    font-style: normal;
}

.pricing-container button {
    box-shadow: 0 0 0.5em var(--secondary-color);
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.close-btn {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal table {
    width: 100%;
    border-collapse: collapse;
}

.modal table td {
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
    text-align: left;
}

.modal table td span {
    float: right;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.pricing-card ul li {
    padding: 10px 0;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-card ul li span {
    color: green;
}

.faq-section {
    background-color: var(--primary-darker);
    color: white;
    border-radius: 1em;
}

.faq-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-section h1 {
    text-align: center;
    margin-bottom: 1em;
}

.faq-item {
    margin-bottom: 1.5em;
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 8px;
}

.faq-item h2 {
    margin-bottom: 0.5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    font-size: 1em;
    line-height: 1.5;
    display: none;
}

@media (min-width: 300px) {
    .carousel-item {
        min-width: 260px;
        max-width: 260px;
    }

    .carousel-container .owl-dots {
        display: flex;
        overflow: hidden;
        max-width: 131px;
        position: absolute;
        top: -2em;
        height: 1em;
    }

    .carousel-container .owl-dots .owl-dot {
        min-width: 5px;
        max-width: 5px;
        height: 5px;
        background-color: #333;
        border-radius: 50%;
        margin: 0 0.5em;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 0 .25em 3em;
        padding: 3em 0;
    }

    .pricing-card-container-personal,
    .pricing-card-container-empresa {
        flex-wrap: wrap;
    }

    .pricing-card {
        flex-basis: 95%;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 55vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        font-size: calc(0.75em + 0.5vw);
        top: calc(7px + 0.5vw);
        right: 3.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 25vw;
        font-size: calc(0.75em + 0.5vw);
        left: 1vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 3.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
        left: 29vw;
    }
}

@media (min-width: 576px) {
    .owl-carousel .owl-stage-outer {
        max-width: 83vw;
    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.3vw;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 0 .5em 4em;
        padding: 3em 0 4em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 30vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
        font-size: 1.25em;
        top: 7px;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 15vw;
        font-size: 1.25em;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .owl-carousel .owl-stage-outer {
        max-width: 83vw;
    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.3vw;
    }

    .carousel-item {
        min-width: 350px;
        max-width: 350px;
    }

    .pricing-card {
        flex-basis: 40%;
        gap: 0.5rem;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 0 .5em 5em;
        padding: 3em 0 4em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 30vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
        top: 7px;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 15vw;
        left: .5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
        left: 14.5vw;
    }
}

@media (min-width: 992px) and (max-width: 1200.98px) {
    .owl-carousel .owl-stage-outer {
        max-width: 86vw;
    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.3vw;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 0 .5em 2em;
        padding: 3em 0 4em;
    }

    .pricing-container {
        padding: 1em 0 4em;
    }

    .pricing-plan-btn-container {
        margin-top: 2em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 25vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 13vw;
        left: .4vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
        left: 11.6vw;
    }
}

@media (min-width: 1201px) {
    .owl-carousel .owl-stage-outer {
        max-width: 88vw;
    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.5vw;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 4em .5em;
        padding: 3em 0 4em;
    }

    .pricing-card {
        flex-basis: 28%;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 20vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 1.8vw;
        font-size: 20px;
        top: 7px;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 9.8vw;
        font-size: 20px;
        left: 4px;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
        left: 9.8vw;
    }
}

@media (min-width: 1400px) {
    .owl-carousel .owl-stage-outer {
        max-width: 89.25vw;
    }

    .carousel-container .owl-nav {
        width: 96vw;
        left: 2vw;
    }

    .carousel-item {
        min-height: 469px;
        max-height: 469px;
        min-width: 350px;
        max-width: 350px;
        margin: 0 10px;
    }

    .pricing-plans-section,
    .faq-section {
        margin: 4em .5em;
        padding: 3em 0 4em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 20vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
        font-size: calc(0.75em + 0.5556vw);
        top: calc(16px - 0.5556vw);
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 10vw;
        font-size: calc(0.75em + 0.5556vw);
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
        left: 9.8vw;
    }
}