/* BANNER */

.home-intro {
    text-align: center;
    padding: 2em 2em 3em;
    background: linear-gradient(180deg, var(--secondary-color) 70%, var(--primary-color));
    color: white;
    border-radius: 0 0 1em 1em;
    margin-bottom: 20px;
}

/* CARRUSEL */
#restaurants-section h1 {
    text-align: center;
    padding-top: 4em;
}

/* Carrusel de restaurantes */
.owl-carousel,
.owl-carousel.owl-loaded {
    display: flex !important;
    justify-content: center;
}

.owl-carousel .owl-item.active {
    display: flex;

}

.carousel-container {
    max-height: 30em;
}

.carousel-container .owl-nav {
    position: absolute;

    /* btn chiquitos */
    /* top: 175.875px;
    left: -52px;
    width: 109%;
    max-width: 120%;
    height: 117.25px; */

    /* btn grandes */
    top: 0;
    left: 0;
    height: 469px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    background: transparent;
}

.carousel-container.owl-carousel .owl-nav button.owl-prev,
.carousel-container.owl-carousel .owl-nav button.owl-next {
    background: linear-gradient(90deg, var(--secondary-color), #333, var(--secondary-color)) 0 0;
    min-width: 45px;
    width: 45px;
    height: 100%;
    color: white !important;
    box-shadow: 0 0 15px rgba(18, 2, 4, 0.6);
    transition: 0.6s;
}

.carousel-container.owl-carousel .owl-nav button.owl-prev:hover,
.carousel-container.owl-carousel .owl-nav button.owl-next:hover {

    background: rgb(18, 2, 4);
    background: linear-gradient(270deg, rgba(18, 2, 4, 0.8) 0%, var(--primary-color) 60%);
    color: rgb(4, 4, 38);
    transform: none;
}

.carousel-container {
    display: flex;
    margin: 4em 0;
    height: fit-content;
}

.carousel-item {
    flex-direction: column;
    flex: 0 0 auto;
    /* Evitar que los elementos se encojan */
    margin: 0 10px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--primary-dark);
    text-align: center;
    scroll-snap-align: start;
    /* Alineación de ajuste */
    position: relative;
    /* Asegura que quede encima */
    display: flex;
    /* Centra la imagen dentro del contenedor */
    align-items: center;
    justify-content: space-between;
    min-height: 469px;
    max-height: 469px;

}

.carousel-item .restaurant-img {
    flex-basis: 100%;
    width: 100%;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.carousel-item .restaurant-logo {
    position: absolute;
    /* Cambiado de relativo a absoluto */
    top: 10px;
    /* Ajusta según la posición deseada */
    left: 10px;
    /* Ajusta según la posición deseada */
    background: var(--background-color);
    padding: 0.75em;
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    z-index: 10;
    /* Asegura que quede encima */
    display: flex;
    /* Centra la imagen dentro del contenedor */
    align-items: center;
    justify-content: center;
}

.carousel-item .restaurant-logo img {
    aspect-ratio: 1/1;
    max-width: 100%;
    height: auto;
}

.carousel-item .restaurant-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    position: relative;
    color: var(--text-color);
    padding: 1em 1.25em;
}

.carousel-item .restaurant-info p {
    margin: 0.75em;
}

@media (min-width: 300px) {
    .carousel-item {
        min-width: 260px;
        max-width: 260px;
    }
    .carousel-container .owl-dots {
        display: flex;
        overflow: hidden;
        max-width: 131px;
        position: absolute;
        top: -2em;
        height: 1em;
    } 
    
    .carousel-container .owl-dots .owl-dot {
        min-width: 5px;
        max-width: 5px;
        height: 5px;
        background-color: #333;
        border-radius: 50%;
        margin: 0 0.5em;
    }
}

@media (min-width: 768px) {
    .carousel-item {
        min-width: 350px;
        max-width: 350px;
    }

    .pricing-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        align-items: center;
    }

}

/* planes */
/* Boton */
/* From Uiverse.io by JaydipPrajapati1910 */
.pricing-plan-btn-container {
    display: table;
    width: 100%;
    text-align: center;

}

.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0;
    width: 20vw;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 7px;
    right:2vw;
    color: var(--text-color);
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 10vw;
    height: 24px;
    background: linear-gradient(var(--primary-dark), var(--primary-color), var(--primary-dark));
    border-radius: 26px;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 4px;
    top: 2.5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #fff;
    font-weight: 600;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background-color: var(--secondary-color);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 9.8vw;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 2vw;
}

/* Cards */
.pricing-plans-section {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-darker);
    color: white;
    border-radius: 1em;
    background-size: cover;
    background-position: center;
}

.pricing-plans-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/planes-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
}

.pricing-container {
    text-align: center;
    padding: 3em 0 4em;

}

.pricing-card-container-personal,
.pricing-card-container-empresa {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.pricing-card {
    background: var(--background-color);
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 .25em .5em rgba(255, 255, 255, 0.1);

    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: scale(1.05);
}

.pricing-container h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 700;
    font-style: normal;
}

.pricing-container button {
    box-shadow: 0 0 0.5em var(--secondary-color);
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 10px 0;
}

/* Dispositivos muy pequeños (móviles en vertical) */
@media (max-width: 576px) {
   
}

/* Dispositivos pequeños (móviles en horizontal y tablets pequeñas) */
@media (min-width: 577px) and (max-width: 767.98px) {
    .owl-carousel .owl-stage-outer {
        max-width: 89vw;
    }
    
    .carousel-container .owl-dots .owl-dot.active {
        background-color: var(--primary-color);
    }
    /* planes */
    /* Cards */
    .pricing-plans-section {
        margin: 0 .5em;
        padding: 3em 0 4em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 38vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 18vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:afteR {
        left: 14.5vw;
    }
}

/* Dispositivos medianos (tablets en horizontal y pantallas pequeñas) */
@media (min-width: 768px) and (max-width: 991.99px) {
    .owl-carousel .owl-stage-outer {
        max-width: 83vw;
    }
    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.3vw;
    }           
    /* planes */
    /* Cards */
    .pricing-plans-section {
        margin: 0 .5em;
        padding: 3em 0 4em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 30vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 15vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:afteR {
        left: 14.5vw;
    }


}

/* Dispositivos grandes (pantallas grandes y escritorios) */
@media (min-width: 992px) and (max-width: 1200.98px) {
    .owl-carousel .owl-stage-outer {
        max-width: 86vw;

    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.3vw;
    }

    /* planes */
    /* Cards */
    .pricing-plans-section {
        margin: 0 .5em 2em;
        padding: 3em 0 4em;

    }

    .pricing-container {
        padding: 1em 0 4em;
    }

    .pricing-plan-btn-container {
        margin-top: 2em;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner {
        width: 25vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
        right: 2.5vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
        left: 2.5vw;
    }

    .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
        width: 13vw;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:afteR {
        left: 11.6vw;
    }
}

/* Dispositivos muy grandes (pantallas muy grandes) */
@media (min-width: 1201px) and (max-width: 1399.99px) {
    .owl-carousel .owl-stage-outer {
        max-width: 88vw;

    }

    .carousel-container .owl-nav {
        width: 95vw;
        left: 2.5vw;
    }

    /* planes */
    /* Cards */
    .pricing-plans-section {
        margin: 4em .5em;
        padding: 3em 0 4em;
    }

    .pricing-card {
        width: 30%;
    }
}

/* Dispositivos superiores a 1400px */
@media (min-width: 1400px) {

    /* Carrusel de restaurantes */
    .owl-carousel .owl-stage-outer {
        max-width: 89.25vw;

    }

    .carousel-container .owl-nav {
        width: 96vw;
        left: 2vw;
    }

    .carousel-item {
        min-height: 469px;
        max-height: 469px;
        min-width: 350px;
        max-width: 350px;
        margin: 0 10px;
    }

    /* planes */
    /* Cards */
    .pricing-plans-section {
        margin: 4em .5em;
        padding: 3em 0 4em;
    }

}