/* Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2em 0;
    background-color: #fdedef;

}

.login-card {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.8rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
