/* Reset y configuración global */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdedef;
    color: black;
}

.container {
    padding: 0 12%;
}

/* Estilo del nav */
nav {
    background-color: #120204;
    padding: 1em 12%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #250408;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    
}

nav a:hover {
    color: #e22c42;
}

nav .logo {
    width: 100.5px;
    height: 82.5px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
}

.dropdown {
    min-width: 11vw;
    padding: 0 2em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #120204;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-size: 1em;

}

/* Dropdown content */
.dropdown-content li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden; /* Asegura que el efecto no se desborde */
    transition: background-size 0.3s ease, color 0.3s ease; /* Animación para el tamaño de fondo y color */
    background-size: 0% 100%; /* Inicialmente el fondo está vacío */
    background-image: linear-gradient(90deg, #333, #e22c42, #333); /* Color de fondo del centro */
    background-repeat: no-repeat;
    background-position: center;
}

/* Efecto hover en los enlaces del dropdown */
.dropdown-content li a:hover {
    background-size: 100% 100%; /* El fondo se expande a todo el tamaño del enlace */
    color: white; /* Cambiar el color del texto si lo deseas */
}
/* Mostrar el dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo de botones */
button,
.secondary-btn {
    background: linear-gradient(90deg, #9b1c4c, #6a1b9a);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, box-shadow 0.3s;
}

button:hover,
.secondary-btn:hover {
    background: linear-gradient(90deg, #F50057, #8E24AA);
    box-shadow: 0 0 20px rgba(255, 0, 87, 0.7);
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}