/* Reset y configuración global */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
main{
    flex: 1;
}

body {
    background-color: #fdedef;
    color: black;
}

.container {
    padding: 0 12%;
}

/* Estilo del nav */
nav {
    background-color: #120204;
    padding: 1em 12%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #250408;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    
}

nav a:hover {
    color: #e22c42;
}

nav .logo {
    width: 100.5px;
    height: 82.5px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
}

.dropdown {
    min-width: 11vw;
    padding: 0 2em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #120204;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-size: 1em;

}

/* Dropdown content */
.dropdown-content li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden; /* Asegura que el efecto no se desborde */
    transition: background-size 0.3s ease, color 0.3s ease; /* Animación para el tamaño de fondo y color */
    background-size: 0% 100%; /* Inicialmente el fondo está vacío */
    background-image: linear-gradient(90deg, #333, #e22c42, #333); /* Color de fondo del centro */
    background-repeat: no-repeat;
    background-position: center;
}

/* Efecto hover en los enlaces del dropdown */
.dropdown-content li a:hover {
    background-size: 100% 100%; /* El fondo se expande a todo el tamaño del enlace */
    color: white; /* Cambiar el color del texto si lo deseas */
}
/* Mostrar el dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo de botones */
button,
.secondary-btn {
    background: linear-gradient(90deg, #120204, #e22c42, #120204);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, box-shadow 0.3s;
    margin: 1em 0;
    min-width: 150px;
    max-width: 200px;
}

button:hover,
.secondary-btn:hover {
    background: linear-gradient(90deg, #e22c42, #120204, #e22c42);
    box-shadow: 0 0 1.25em #fdedef;
    transform: translateY(-5px);
}
/* Estilos del footer*/
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
}

.footer-contact,
.footer-links,
.footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-container h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #cc1010;
}

.footer-container p,
.footer-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

.footer-container a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #b81717;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 0.8em;
    color: #bbb;
}
