/* Colors */
:root {
    --primary-color: #e22c42;
    --secondary-color: #120204;
    --primary-dark: #901422;
    --primary-darker:#67131d;
    --background-color: #fdedef;
    --background-color-dark: #333;
    --text-color: #fff;
    --text-color-secondary: #000;
}

/* Reset y configuración global */

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color:var(--text-color-secondary);
}

main {
    background-color: rgba(253, 237, 239, 0.8);
    background-size: cover;
    background-position: center;
    flex: 1;
    position: relative;
    /* Ensure main is positioned relative to its pseudo-element */
}

main::before {
    content: "";
    position: fixed;
    /* Change to fixed to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust height to cover the entire viewport */
    background-image: url(../images/planes-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -3;
    /* Ensure the pseudo-element is behind the content */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", serif;
}

button,
input,
select,
textarea {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

textarea {
    resize: none;
    height: 10em;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: .8em;
    border-radius: 50%;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: #971726;
}

.container {
    padding: 0 12%;
}

/* Estilo del nav */
.nav-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: var(--secondary-color);
    padding: 1em 12%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #250408;
}

.no-hover:hover {
    color: inherit;
    text-decoration: none;
    background: none;
}

nav .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

nav .nav-menu li {
    position: relative;
    min-width: 115px;
}

nav .nav-menu li a {
    color: var(--text-color);
    text-decoration: none;
    padding: 1em .5em;
    min-width: 100%;
    width: 100%;
    display: block;
    font-size: 16px;
    overflow: hidden;
    /* Asegura que el efecto no se desborde */
    transition: background-size 0.3s ease, color 0.3s ease;
    /* Animación para el tamaño de fondo y color */
    background-size: 0% 100%;
    /* Inicialmente el fondo está vacío */
    background-image: linear-gradient(90deg, rgb(103, 19, 29), var(--primary-color), #67131d);
    /* Color de fondo del centro */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1em;
    z-index: 11;
}

.dropdown-content li a.active,
nav .nav-menu a.active {
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color), var(--secondary-color));
    box-shadow: 0 0 0.5em var(--background-color);
    border-radius: 1em;
}

nav li a:hover {
    background-size: 100% 100%;
    /* El fondo se expande a todo el tamaño del enlace */
}

nav .logo {
    width: 100.5px;
    height: 82.5px;
}

/* Dropdown styles */
.dropdown {
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    list-style: none;
    margin: 0;
    padding: 0 1em 0 0;
    font-size: 1em;
    padding-top: .5em;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 .25em .5em rgba(253, 237, 239, 0.3);
    width: 100%;
    /* Ensure the dropdown content matches the width of its parent */
}

.dropdown-content li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden;
    /* Asegura que el efecto no se desborde */
    transition: background-size 0.3s ease, color 0.3s ease;
    /* Animación para el tamaño de fondo y color */
    background-size: 0% 100%;
    /* Inicialmente el fondo está vacío */
    background-image: linear-gradient(90deg, #67131d, var(--primary-color), #67131d);
    /* Color de fondo del centro */
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown-content li a:hover {
    background-size: 100% 100%;
    /* El fondo se expande a todo el tamaño del enlace */
    color: var(--text-color);
    /* Cambiar el color del texto si lo deseas */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo de botones */
button,
.primary-btn {
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, box-shadow 0.3s;
    margin: 1em 0;
    min-width: 150px;
    max-width: 200px;
}

button:hover,
.primary-btn:hover {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
    box-shadow: 0 0 1.25em var(--background-color);
    transform: scale(1.06);
}

/* Estilos del footer */
footer {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 20px 0;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
}

.footer-contact,
.footer-links,
.footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-container h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--primary-color);
}

.footer-container p,
.footer-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

.footer-container a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 0.8em;
    color: #bbb;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 2, 4, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: var(--background-color);
    padding: 30px;
    border-radius: 8px;
    width: 60%;
    text-align: center;
    color: var(--secondary-color);
}

.close-btn {
    font-size: 25px;
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    top: -10px;
    right: -549px;
}

/* MEDIA QUERIES */
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.37em;
        margin: 1rem 0;
    }

    h4 {
        font-size: 1.25em;
    }
}

/* Pantallas medianas (MD) */
@media (max-width: 992px) {
    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.35Rem;
    }

    h4 {
        font-size: 1.1em;
    }
}

/* Pantallas pequeñas (SM) */
@media (max-width: 769px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 1em;
    }
}

/* Pantallas extra pequeñas (XS) */
@media (max-width: 579px) {
    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.9em;
    }
}