.background-highlight {
    grid-column: 1 / 7;
    /* De la columna 1 a la 5 */
    grid-row: 1 / -1;
    /* Cubre todas las filas */
    background-color: #333;
    /* Color de fondo semitransparente */
    border-radius: 1em;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    /* Sombra para el efecto flotante */
    margin: 0 0 1em 1em;
    z-index: 0;
    /* Manda el fondo detrás del contenido */
    position: relative;
    /* Asegura que el card no afecte otros elementos */
}

.background-highlight2 {
    grid-column: 7 / 13;
    /* De la columna 1 a la 5 */
    grid-row: 3/ 5;
    /* Cubre todas las filas */
    background-color: #fdedef;
    /* Color de fondo semitransparente */
    border-radius: 1em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 0;
    /* Manda el fondo detrás del contenido */
    position: relative;
    top: .5em;
    /* Asegura que el card no afecte otros elementos */
}

.restaurant-details {
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
    display: grid;
    width: 100%;
    margin: 5% auto;
    border-radius: 1em;
    column-gap: 1.25em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "t t t t  l l i i  i i i i"
        "p p p p  p p i i  i i i i"
        "p p p p  p p d d  d d d d"
        "p p p p  p p c c  c c c c"
        "p p p p  p p b b  b b b b";
    overflow: hidden;
}

.restaurant-details h1,
.restaurant-details .restaurant-logo,
.restaurant-details .descripcion,
.restaurant-details .restaurant-img,
.restaurant-details .distancia,
.restaurant-details .telefono,
.button-container {

    z-index: 1;
}

.restaurant-details .restaurant-logo,
.restaurant-details .descripcion,
.restaurant-details .restaurant-img,
.button-container {
    font-size: 1.25em;
}
.restaurant-details .distancia,
.restaurant-details .telefono{
    font-size: 1.5em;
}
.restaurant-details h1 {
    grid-area: t;
    place-self: center;
    justify-self: center;
    text-align: center;
    word-wrap: break-word;
    /* Evita que textos largos se desborden */
    color: white;
    padding-left: 2em;

}

.restaurant-details .restaurant-logo {
    grid-area: l;
    margin: 1em 0 0 0;
    padding: 0.25em;
    max-width: 70%;
    height: auto;
    object-fit: contain;
    /* Asegura que las imágenes no se deformen */
    background: #fdedef;
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* Relación de aspecto 1:1 */
}

.restaurant-details .descripcion {
    grid-area: p;
    overflow-wrap: break-word;
    /* Controla textos largos en esta área */
    color: white;
    margin-left: 2em;
    padding-right: 1em;
}

.restaurant-details .restaurant-img {
    grid-area: i;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
    /* Ajusta la imagen sin desbordarla */
}

.restaurant-details .distancia {
    grid-area: d;
    justify-self: center;
    text-align: center;
    position: relative;
    top: 1em;
}

.restaurant-details .telefono {
    grid-area: c;
    justify-self: center;
    text-align: center;
}

/* Contenedor para los botones */
.restaurant-details .button-container {
    grid-area: b;
    /* Puedes mantenerlo en la misma área de la cuadrícula */
    display: flex;
    /* Usar Flexbox para alinear los botones */
    gap: 10px;
    /* Espacio entre los botones */
    justify-content: center;
    /* Centra los botones horizontalmente */
    margin-top: 1em;
    /* Espacio superior */
    
}

/* Estilo de los botones */
.primary-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    /* Establece un ancho fijo para los botones */
    text-align: center;
    /* Asegura que el texto esté centrado */
    font-weight: bold;
}

.primary-btn:hover {
    background-color: #45a049;
}

.login-message {
    color: red;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}